@use '../../styles/global/' as g;

  .nav{
    width: 100vw;
    height: 100vh;
    background: #F8f8f8;
    z-index: 888;
    padding: 0 12vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include g.sm{
      padding: 4rem 5vw 4rem;
      justify-content: flex-start;
      overflow-y: scroll;
    }
  }

  .navCat{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    
    &:first-child{
        margin-top: 0;
    }

    @include g.md{
      margin-top: 2rem;
      flex-direction: column;
    }

    @include g.sm{
      margin-top: 2rem;
    }

    h4{
        font-family: g.$noto-serif;
        font-size: 1.75rem;
        font-weight: g.$regular;
        margin-top: -0.95rem;
        min-width: 18rem;

        @include g.md{
          margin-top: -1rem;
          font-size: 0.9rem;
          font-weight: g.$light;
          min-width: 9rem;
          padding: 5px;
          padding-bottom: 0;
          margin-bottom: 7.5px;
          margin-left: -5px;
          color: g.$black;
          
          border-bottom: 0.5px solid #5b5b5b;
          font-family: g.$noto-sans;
          width: calc(80vw - 20px);

        }
    }

    ul{
        display: flex;
        width: 100% ;
        flex-wrap: wrap;
        margin-top: 0.25rem;

        @include g.sm{
          justify-content: space-between;

        }

        li{
            margin-right: 4rem;
            margin-bottom: 1.25rem;
            line-height: 1.2;
            min-width: 10rem;

            @include g.sm{
              min-width: fit-content;
              margin-right: 5vw;
              width: 40%;
              line-height: 1;
              font-size: 0.95rem;
            }

            span{
                font-size: 0.85rem;
                font-weight: g.$light;
                text-transform: capitalize;
                letter-spacing: -0.5px;
                color: #5b5b5b;
        
            }
        }
    }
  }

  .sns{
    position: fixed;
    right: 10vw;
    bottom: 5vw;

    @include g.sm{
      right: 0.5rem;
      top: 50px;
    }
   
    ul{
        display: flex;

        @include g.sm{
          flex-direction: column;
        }
    }

    li{
        margin-right: 1.5rem;

        &:last-child{
          margin-right: 0;
        }

        @include g.sm{
          margin-bottom: 0.75rem;
        }
    }
  }
  
  .navLinkToShop{
    position: relative;

    &::before{
      content: 'shop';
      position: absolute;
      top: -3px;
      left: 4.5rem;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      border-radius: 2rem;
      border: 1px solid g.$black;

      @include g.sm{
        display: none;
        // top: 2.5rem;
        // left: 0;
        // padding: 0.2rem 0.25rem;
      }
    }


    
  }