$noto-serif:  'Noto Serif JP', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;
$poppins: 'Poppins', sans-serif;
$ex-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


$black: #05131F;
$white: #FCFCF9;
$keyColor: #0D5A77;
$accentColor: #C3AF01;

