@use '../../styles/global/' as g;

.container{
    width: 100%;
    margin-top: 2rem;
    padding: 8rem 10vw 17rem;
    background: linear-gradient(180deg, #408495 0%, #2D6A63 100%);

    @include g.sm{
        margin-top: 7rem;
        padding: 5rem 10vw 8rem;
    }
}

.intro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
}

.title{
    width: 80%;

    @include g.sm{
        width: 100%;
    }

    h2{
        font-size: 2.75rem;
        font-weight: g.$medium;

        @include g.sm{
            font-size: 2rem;
            line-height: 1;
        }
        @include g.xs{
            font-size: 1.5rem;
        }

        span{
            margin-left: 0.5rem;
            font-size: 1.5rem;

            @include g.sm{
                margin-left: 0;
            }

            @include g.xs{
                font-size: 1.2rem;
            }
        }
    }

    .line{
        display: block;
        width: calc(10vw + 405px);
        height: 0.5px;
        background: #fff;
        margin: 0.75rem 0 1rem;
        margin-left: -10vw;

        @include g.sm{
            width: 80%;
        }
    }

    p{
        font-size: 0.9rem;
        line-height: 1.8;

    }
}


.toShop{
    align-self: flex-end;
    margin-bottom: -1rem;

    @include g.sm{
        position: absolute;
       top: 0;
       right: 0;
    }
    @include g.xs{
        top: -0.75rem;
    }

    a{
        display: block;
        font-family: g.$noto-sans;
        font-size: 0.95rem;
        font-weight: g.$regular;
        border: 0.5px solid rgba(#fff, 0.2);
        letter-spacing: -0.5px;
        line-height: 1.3;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #bdac10;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 3px 5px -3px rgba(#726701, 0.8);
        margin-bottom: 1.5rem;
        transition: 0.2s ease;

        @include g.sm{
            width: 90px;
            height:90px;
            font-size: 0.9rem;
        }
        @include g.xs{
            width: 80px;
            height: 80px;
        }

        &::before, &::after{
            content: '';
            position: absolute;
            display: block;
            background: #fff;

            @include g.sm{
                display: none;
            }
        }
        &::before{
            width: 2.5rem;
            height: 1px;
            bottom: 0.75rem;
            right: -0.5rem;
            transition: .4s ease;
        }
        &::after{
            width: 0.5rem;
            height: 1px;
            bottom: calc(0.75rem + 2px);
            right: calc(-0.75rem + 4.5px);
            rotate: 25deg;
        }

        &:hover{
                filter: brightness(97%);
                box-shadow: none;

                &::before{
                    width: 7rem;
                }
        }
    }
}

.sliderContainer{
    margin-right: -10vw;
    margin-top: 1rem;
}

.prevBtn, .nextBtn{
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}
.prevBtn{
    margin-right: 0.5rem;
}

